@-moz-document url-prefix("https://www.linkedin.com/") {
  /* MESSAGING PORTION */
  .msg-overlay-bubble-header {
    background-color: #263238;
  }
  .msg-overlay-bubble-header__primary-text {
    color: #78909c;
  }
  .msg-overlay-list-bubble__content {
    background-color: #263238;
  }
  .msg-conversation-card__participant-names {
    color: #78909c;
  }
  .msg-overlay-list-bubble__message-snippet {
    color: #78909c;
  }
  .msg-conversation-card__content {
    border-bottom: 1px solid #cfd8dc;
  }

  /* ICONS */
  li-icon[type$="-icon"] {
    color: #78909c;
  }

  /* HEADER/Nav */
  #extended-nav {
    background-color: #263238;
  }
  /*Profile popup*/
  .pv-profile-sticky-header--is-showing {
    background-color: #727e84;
  }

  /*LEFT SIDE: Main Page*/
  .left-rail {
    background-color: #263238;
  }
  .profile-rail-card {
    background-color: #263238;
    color: #78909c;
  }
  .entity-list-item {
    background-color: #263238;
  }
  .feed-shared-navigation-module {
    background-color: #263238;
  }
  .feed-shared-interest-package__section-header {
    background-color: #263238;
    border-bottom: 1px solid #cfd8dc;
  }

  /* STYLES OF TEXT */
  .t-black--light {
    color: #4aafba;
  } /*styles most text ^*/
  .pv-browsemap-section__member-detail .actor-name-with-distance {
    color: #78909c;
  }
  .pv-browsemap-section__member-detail .browsemap-headline {
    color: #d3dde3;
  }
  /*profile name*/
  .pv-top-card-section__name {
    color: #d3dde3;
  }
  /*profile title*/
  .pv-top-card-section__headline {
    color: #263238;
  }
  /*profile summary*/
  .pv-top-card-section__summary .mt4 {
    color: #4aafba;
  }
  /*profile experience*/
  .pv-entity__secondary-title {
    color: #4aafba;
  }

  /* BACKGROUND FOR MOST CARDS */
  .neptune-grid {
    background-color: #263238;
  }

  /* PROFILE */
  .pv-profile-wrapper--below-nav .profile-view-grid {
    width: auto;
    padding-top: 50px;
    padding-left: 460px;
  }
  .pv-profile-wrapper--below-nav .pv-top-card-section {
    background-color: #737f85;
  }
  /*Other cards background */
  .artdeco-container-card:last-child {
    background-color: #737f85;
  }
  .pv-entity__position-group-pager {
    background-color: #737f85;
  }
  /*Experience vv*/
  .pv-profile-section.background-section.artdeco-container-card.pv-profile-section--reorder-enabled
    .pv-profile-section
    .pv-profile-section__card-item-v2 {
    background-color: #737f85;
  }
  .pv-profile-section.background-section.artdeco-container-card.pv-profile-section--reorder-enabled
    .pv-profile-section
    .pv-profile-section__card-item {
    background-color: #737f85;
  }

  /*FOOTER*/
  .nav-footer--static .nav-footer__container {
    background-color: #263238;
  }
}
